<ion-header #head>
  <ion-toolbar>
    <ion-title class="page-title" color="light">
      TVInfo
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" appHideHeader [header] = "head">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-lg = "2" *ngFor = "let tv of (tvList | async)" >
        <ion-card >
          <div class = "cover-container">
            <ion-img [routerLink] = "['tv-detail', tv.id]" [src] = "tv.image?.medium"></ion-img>
            <div class = "rating-text-container">
              <p class = "ion-no-padding ratingText" >{{tv.rating?.average}}</p>
            </div>

          </div>

          <ion-card-header>
            <ion-card-title color="light">{{tv.name}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
